---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Grimes IT colors
$primary-color: #00b386 !default;

// Minimal mistakes theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.btn.btn--inverse {
    background-color: transparent;
    color: #ccc;
}
.btn--inverse:hover {
    background-color: #666;
    color: #eee;
}

a.btn--light-outline:not(:first-child) {
    border: none;
}

.foot {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 2f 1f 2f 1f;
    gap: 2em;
}

.feature__wrapper {
    border-bottom: none;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    margin-bottom: 1em;
    align-items: center;
}
.footer-nav>ul>li {
    display: inline-block;
    padding-right: 2em;
    vertical-align: top;
}

.footer-nav .site-title {
    display: block;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.fiddley-foot { display: block; }
.fiddley-foot.footer-foot { display: none; }

@media (max-width: 600px) {
    .footer-logo {
        display: block;
        margin-bottom: 1em;
    }
    .footer-nav>ul>li>ul>li {
        padding-bottom: 0.5em;
    }
    .fiddley-foot { display: none; }
    .fiddley-foot.footer-foot { display: block; }
    
    /*
    .footer-nav>ul>li {
        display: block;
        padding-bottom:1em;
    }
    */
  }